{% load static %}

<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Django blog</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

</head>
<body>
    <form id="main" v-cloak>
        <div class="bar">
            <input type="text" v-model="searchString" placeholder="Input name" />
        </div>
        <ul>
            <li v-for="article in filteredArticles">
                <a v-bind:href="article.url"><img v-bind:src="article.image" /></a>
                <p>{{article.title}}</p>
            </li>
        </ul>
    </form>

    <div class="timer">
        <div class="timer__items">
            <div class="timer__item timer__days">00</div>
            <div class="timer__item timer__hours">00</div>
            <div class="timer__item timer__minutes">00</div>
            <div class="timer__item timer__seconds">00</div>
        </div>
    </div>

    <div>
        {% block content %}
        {% endblock content %}
    </div>

    <script type="text/javascript" src={% static "js/vue.js" %}></script>
    <script type="text/javascript" src={% static "js/script.js" %}></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
</body>


<footer>
    <p>That's is test project, upgrade must be soon...</p>
</footer>
</html>